EXPO_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_sua_chave_publica
EXPO_PUBLIC_TURNSTILE_SITE_KEY=sua_site_key_publica
EXPO_PUBLIC_WEB_ORIGIN=https://seu-dominio.vercel.app

# essas variáveis ficam no servidor da vercel
SUPABASE_URL=https://seu-projeto.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_sua_chave_publica
APP_ORIGIN=https://seu-dominio.vercel.app
